.cabecalho{
    margin-top: 10px;
}
.logo{
    width: 40px;
    height: 40px;
    border-radius: 4em/4em;
}
.signup .view{
    border-radius: 6em/4em;
}
.learn{
    border-radius: 50%;
    background-color: lightcoral ;
    border-color: lightcoral;
}
.view{
    background-color: lightcoral ;
    border-color: lightcoral;
    margin-left: 100px;
}

.imagens-objetivos{
    width: 60px;
    height: 60px;
    margin: auto 2% auto 2%;

}
.botao-block{
    height: 20%;
    width: 80%;
    text-align-all: center;
    border-radius: 4em 4em;
}
.pessoa-um{
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 40px;
}

.pessoas{
    height: 200px;
    width: 200px;
    margin-left: 100px;
}
.banner{
    margin-top: 35px;
}
.texto, .texto-inicial{
    margin-left: 80px;

}
.texto-um{
    margin-right: 80px;
    margin-top: 7%;
}

.imagem-um{
    width: 100%;
    height: 100%;
    margin-left: 30px;
}
.texto-inicial{
    margin-top: 7%;
}